

@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';

$gutter:0em;

@import '../bower_components/neat/app/assets/stylesheets/neat';

/* @mixin clearfix {
    * zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
} */

*{
  box-sizing: border-box;
  margin: 0;
}

ul{
  list-style-type: none;
}

html {
  @include outer-container(980px);
  background-color:#F5F5F2;

}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.centeredContainer{
  @include span-columns(12);
}

// header/nav bar//
nav h1{
  color:#F95822;
  font-size: 1em;
}

.navBar{
  text-align:center;
}

.socialButtons i{
  float:right;
  display:inline-block;
}



.navBarBackground{
  width: 100%;
  background-color: #FFFFFF;
  height: 82px;
}

//side bar results//

h2{
  color:#555555;
  font-size: 1em;
}

/* .resultsRefineContainer{
  height: 1082px;
} */
.resultCategories{
  @include span-columns(3);
  background-color: #FFFFFF;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
}

.resultCategories a{
  color:#0093B2;
  text-decoration: none;
}


.refineSearch{
  @include span-columns(3);
  height: 680px;
  background-color: #FFFFFF;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
}
//Main Product Grid//
.productGrid{
  @include span-columns(9);
  height:100%;
 padding-left:18px;
 display:inline-block;
}

.productContainers{
  @include span-columns(3);
  height: 220px;
  background-color:#FFFFFF;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
}
